# ==============================
# Dependências Web / Front-end
# ==============================
node_modules/
dist/
build/

# ==============================
# Arquivos do C# / .NET 
# ==============================
bin/
obj/
appsettings.Development.json
appsettings.*.json
*.user
*.userprefs

# ==============================
# Arquivos de IDEs e Editores
# ==============================
.vscode/
.vs/
.idea/

# ==============================
# Arquivos do Sistema Operacional
# ==============================
.DS_Store
Thumbs.db